<p>Estimad@ colaborador,</p>
<p><strong>SANOSOFT</strong> te informa que en la fecha <strong>{{fecha}}</strong>, solicitaste un Pin para el ingreso a nuestro sistema.</p>
<p>Este contiene un código de verificación necesario para identificarse en nuestro sistema. Este código es crucial para garantizar la seguridad del sistema.</p>
<p><strong>Código de verificación: {{numero_enviado}}</strong></p>
<p>Por favor, tenga en cuenta que tiene un total de 5 intentos para ingresar el código correctamente.</p>
<p> Si tiene algún problema o pregunta, no dude en contactarnos.</p>
<p>Recuerda que el cuidado de la información de acceso al sistema <strong>SANOSOFT</strong> es tu responsabilidad.</p>
<p>Por ningún motivo la compartas con terceros.</p>
<p>Gracias por su colaboración.</p>
<p><b>Atentamente,</b></p>
<p>Departamento de Sistemas ext.517</p>