<!DOCTYPE html>
	            <html lang='es'>
	            <head>
	                <meta charset='UTF-8'>
	                <meta name='viewport' content='width=device-width, initial-scale=1.0'>
	                <style>
	                    .body{
	                        margin-left: auto;
	                        margin-right: auto;
	                        width: 75%;
	                        justify-content: center;
	                        display: grid;
	                    }
	                    .logo{
	                        padding: 1rem;
	                        background-color: white;
	                        color: white;
	                        margin-left: 0px;
	                        margin-right: auto;
	                    }
	                    .card{
	                        border: 1px solid black;
	                        border-radius: 1rem;
	                        margin-left: auto;
	                        margin-right: auto;
	                        overflow: hidden;
	                        
	                    }
	                    .main {
	                        padding: 2rem;
	                        font-size: large;
	                    }
	                    .header{
	                        background-color: #06478d;
	                        color: white;
	                    }
	                    h1{
	                        text-align: center;
	                    }
	                    .footer{
	                        padding: 1rem;
	                        background-color: #06478d;
	                        color: white;
	                        border-top: 1px solid black;
	                        text-align: center;
	                    }
	                    .row {
	                        display: grid;
	                    }
	                    .col-12 {
	                        padding-left: 15px;
	                        padding-right: 15px;
	                    }
	                    img {
	                        height: auto;
	                    }
	                    ul {
	                        list-style-type: none;
	                        font-size: medium;
	                        margin: 0;
	                        padding: 0;
	                    }
	                </style>
	            </head>
	            <body>
	                <div class='body'>
	                    <div class='card'>
	                        <div class='row header'>
	                            <div class='col-12'>
	                                <h1>Verificación de Cambio Clave</h1>
	                            </div>
	                        </div>
	                        <div class='row main container'>
	                            <div class='col-12'>
	                                <p>Estimado colaborador,</p>
	                                <p>"{{colaborador}}, <b>SANOSOFT</b> te informa que en la fecha <b>"{{fecha}}"</b>, solicitaste un Pin para el cambio de clave mediante nuestro sistema.
	                                Que contiene  un código de verificación necesario identificarse en nuestro sistema.</p>
	                                <p>Este código es crucial para garantizar la seguridad del sistema.</p>
	                                <p>Código de verificación: <b>"{{numero_enviado}}"</b></p>
	                                <p>Por favor, tenga en cuenta que tiene un total de 5 intentos, para ingresar el código correctamente. Si tiene algún problema o pregunta, no dude en contactarnos.</p>
	                                
	                                <p>Recuerda que el cuidado de la información de acceso al sistema <b>Sanosoft</b> es tu responsabilidad.</p>
									<p>Por ningun motivo la compartas con terceros.</p>
	                                <p>Gracias por su colaboración.</p>
	                                                    
	                                <p>Atentamente,</p>
	                                <p>Departamento de Sistemas ext.517</p>
	                                <ul>
	                                    <li>Hospital Santamaria Clisanta S.A.</li>
	                                    <li>Dirección: Lorenzo de Garaicoa 3208 y Argentina</li>
	                                    <li>Telf.: 2404650/2401767/2417824 EXT 501</li>
	                                    <li>www.hospitalsantamaria.com.ec</li>
	                                    <li>www.facebook.com/hospitalsantamariaec</li>
	                                    <li>@hospitalsantamaria</li>
	                                </ul>
	                                <div class='logo'>
	                                    <img src='https://hospitalsantamaria.com.ec/wp-content/uploads/2024/12/2.-Logo-HSM-2024-1024x300.png' style='width: 300px'>
	                                </div>
	                            </div>
	                        </div>
	                        <div class='footer'>
	                            Copyright © "{{anio}}" Hospital Santamaria
	                        </div>
	                    </div>
	                    
	                </div>
	            </body>
	            </html>