<p>Estimad@ paciente {{nombre_paciente}},</p>
<p>Reciba un cordial saludo de parte del Centro Médico: <b>{{unidad_medica}}</b>.</p>
<p>Le informamos que adjuntamos a este mensaje los documentos de aprobación para su derivación a la unidad asignada por el IESS.</p>
<p>Para completar el proceso, deberá presentar este documento en formato digital al centro que se le ha asignado. No es necesario que se acerque a nuestras instalaciones.</p>
<p>Agradecemos su confianza y quedamos a su disposición para cualquier consulta adicional, escriba al numero 0980892296 de nuestro asistente virtual SANTI</p>
<p>Atentamente,</p>
<p>Servicios al Paciente Centro Médico SANOSER</p>