<p>Estimado paciente,</p>
<p>{{paciente}}, <strong>HOSPITAL SANTAMARIA</strong> te informa que en la fecha <strong>{{fecha}}</strong>, solicitaste un Pin para acceder a tus exámenes o informes médicos a través de nuestro sistema.</p>
<p>Para poder visualizar la información, te hemos enviado un código de verificación que es necesario para autenticar tu acceso.</p>
<p>Este código es crucial para garantizar la seguridad y privacidad de tus datos médicos.</p>
<p>Código de verificación:</p>
<p><strong>Código de verificación: {{numero_enviado}}</strong></p>
<p>Recuerda que tienes un total de <b>5 intentos</b> para ingresar el código correctamente. Además, el código tiene un tiempo de validez de <b>2 minutos</b>. Si no logras ingresar el código en el tiempo permitido, deberás solicitar uno nuevo.  Si tiene algún problema o pregunta, no dude en contactarnos.</p>

<p>Recuerda que la protección de tu información médica es tu responsabilidad.</p>
<p>Por ningun motivo la compartas con terceros.</p>
<p>Gracias por confiar en nuestros servicios.</p>

<p>Atentamente,</p>
<p>HOSPITAL SANTAMARIA</p>
