<p>Estimad@ paciente: <b>{{nombre_paciente}}</b></p>
<p>Le saludamos del Hospital Santamaria. Su factura está lista para descarga!</p>
<p>Adjunto se encuentra la Factura en la parte inferior del mensaje: <b>{{examen}}</b></p>
<p>Agradecemos su confianza y quedamos a su disposición para cualquier consulta adicional, escriba al número 0980892296 de nuestro asistente virtual SANTI.</p>
<p>Atentamente,</p>
<p>Servicio al Paciente</p>
<p>Celular 0981764904</p>