<p>Estimad@ paciente: <b>{{nombre_paciente}}</b></p>
<p>Le saludamos del Hospital Santamaria.</p>
<p>Adjunto se encuentra la Solicitud de Imagen en la parte inferior del mensaje.</p>
<p>Agradecemos su confianza y quedamos a su disposición para cualquier consulta adicional, escriba al numero <b>0980892296</b> de nuestro asistente virtual SANTI,</p>
<p>Atentamente</p>
<p>Imagenes</p>
<p>Celular <b>0981764904</b></p>