<p>Le saludamos del Hospital Santamaria, le recordamos el paciente agendado:</p>
<ul>
  <li><strong>Nombre:</strong> {{nombre_paciente}}</li>
  <li><strong>Fecha:</strong> {{fecha}}</li>
  <li><strong>Hora:</strong> {{hora}}</li>
</ul>
<p>Considere que la hora de su turno puede ajustarse según la disponibilidad, con el fin de optimizar su experiencia en el establecimiento. Le notificaremos con anticipación cualquier cambio.</p>
<p>Atentamente</p>
<p>Servicio al Paciente</p>
<p>Celular 0981764904</p>