<p>Estimad@ paciente: {{nombre_paciente}}</p>
<p>Le saludamos del Hospital Santamaria. </p>
<p>Hemos registrado a su historia clínica #{{cedula}}, un acceso con fecha {{fecha}}. </p>
<p>Que contiene un código de verificación necesario identificarse en nuestro sistema.</p>
<p>Código de verificación: {{codigo}}</p>
<p>Gracias por su colaboración.</p>
<p>Atentamente,</p>
<p>Admisiones</p>
<p>Servicio Ambulatorio</p>
<p>Celular 0981764904</p>