<p>Estimad@ paciente: <b>{{nombre_paciente}}</b></p>
<p>Le saludamos del Hospital Santamaria.</p>
<p>Adjunto se encuentra la Receta Medica en la parte inferior del mensaje.</p>
<p>Agradecemos su confianza y quedamos a su disposición para cualquier consulta adicional, escriba al numero <b>0980892296</b> de nuestro asistente virtual SANTI</p>
<p>Atentamente,</p>
<p>Farmacia</p>
<p>Celular <b>2404650 ext-415 </b></p>