<p>Estimad@ paciente: <strong>{{nombre_paciente}}</strong></p>
<p>Le saludamos del Hospital Santamaria.</p>
<p>Adjunto se encuentra los Resultados de Imagen en la parte inferior del mensaje.</p>
<p>Agradecemos su confianza y quedamos a su disposición para cualquier consulta adicional, escriba al numero <strong>{{0980892296}}</strong> de nuestro asistente virtual SANTI,</p>
<p>Atentamente</p>
<p>Imagenes</p>
<p>Celular <strong>0981764904</strong></p>