<p>Estimad@ paciente: <b>{{nombre_paciente}}</b></p>
<p>Le saludamos del Hospital Santamaria.</p>
<p>Adjunto se encuentra el Certificado en la parte inferior del mensaje.</p>
<p>Agradecemos su confianza y quedamos a su disposición para cualquier consulta adicional, escriba al numero <b>0980892296</b> de nuestro asistente virtual SANTI,</p>
<p>Atentamente</p>
<p>Admisiones</p>
<p>Celular <b>0981764904</b></p>
<p><b>NOTA: Los documentos de este correo deben subirse via web al IESS, si usted lo imprime pierde validez ya que es un documento electronico.</b></p>