<p>Estimado usuario:</p>
<p>Se le notifica que aun tiene una Cotización pendiente de {{motivo_aten}}.</p>
<p>Por favor seleccione el nivel de interes que tiene por el proceso de Cotización:</p>

<a class="btn btn-primary" href="https://hospitalsm.org/sanosoft/api/crm_ventas/sel_interes.php?id_sol={{id_solicitud}}&nvl=I">Estoy interesado</a>

<a class="btn btn-danger" href="https://hospitalsm.org/sanosoft/api/crm_ventas/sel_interes.php?id_sol={{id_solicitud}}&nvl=N">No estoy interesado</a>