<p>Estimad@ colaborador,</p>
<p><b>SANOSOFT</b> te informa que en la fecha <b>{{fecha}}</b>, solicitaste un Pin para el cambio de clave mediante nuestro sistema. Que contiene un código de verificación necesario para identificarse en nuestro sistema. Este código es crucial para garantizar la seguridad del sistema.</p>
<p>Código de verificación: <b>{{numero_enviado}}</b></p>
<p>Por favor, tenga en cuenta que tiene un total de 5 intentos, para ingresar el código correctamente. Si tiene algún problema o pregunta, no dude en contactarnos.</p>
<p>Recuerda que el cuidado de la información de acceso al sistema <b>SANOSOFT</b> es tu responsabilidad. Por ningún motivo la compartas con terceros.</p>
<p>Gracias por su colaboración.</p>
<p>Atentamente,</p>
<p>Departamento de Sistemas ext.517</p>